<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Post type:</strong>
  <%= @post.prticle_type %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @post.desc %>
</p>

<p>
  <strong>Comments:</strong>
  <% unless @related_comments.blank? %>
    <% @related_comments.each do |comment| %>
      <br/><%= comment.comment_desc %>
    <% end %>
  <% end %>
</p>



 <%= form_tag(comments_path, :method=>'post') do |f| %>
   <%= text_area_tag :comment_desc %>
   <%= hidden_field_tag :post_id, @post.id %>
   <%= submit_tag 'Comment' %>
 <% end %>